*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}

.str-chat-channel-list {
    height: fit-content;
    margin-bottom: 8px;
  }
  
  .str-chat-channel {
    height: 100%;
  }
  
  .str-chat__load-more-button {
    display: none;
  }
  
  .str-chat__input-footer {
    display: none;
  }
  
  .str-chat__date-separator {
    margin: 16px 24px;
  }

  